# Ambiente virtual
venv/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Pytest
.pytest_cache/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp

# Variáveis de ambiente
.env
