<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal de Notas Kerberos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="topo">
    <h1>Portal de Notas Escolares</h1>
    <p>Serviço protegido por Kerberos</p>
</header>

<main class="container">

    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div class="alerta">
                {% for mensagem in mensagens %}
                    <p>{{ mensagem }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block conteudo %}{% endblock %}

</main>

</body>
</html>
